body {
  font-family: "Montserrat", sans-serif;
  color: #f2f2f1;
}

h1 {
  color: #f2f2f1;
  margin-top: 20px;
  font-size: 28px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 200;
  line-height: 21px;
}
li :first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #0353a2;
}
small strong {
  color: #6c757d;
}
small a {
  text-decoration: underline;
}
a:hover {
  color: #0262bf;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: radial-gradient(
    circle at 22.4% 21.7%,
    rgb(4, 189, 228) 0%,
    rgb(2, 83, 185) 100.2%
  );

  padding: 20px;
  border-radius: 5px;
}
.row {
  max-width: 500px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 600;
  color: #f2f2f1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: 600;
}
.weather-temperature .active {
  color: #f2f2f1;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#city-input {
  background-color: #f2f2f1;
  color: #0262bf;
  border: none;
}
#current-button {
  background-color: #f2f2f1;
  color: #0262bf;
  font-weight: 700;
  width: 100px;
}
#search-button {
  background-color: #f2f2f1;
  color: #0262bf;
  font-weight: 700;
  width: 100px;
}
