body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: rgb(50, 46, 46);
  margin-top: 20px;
  font-size: 28px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 200;
  line-height: 21px;
}
li :first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.row {
  max-width: 500px;
}
#current-button {
  color: #ffca2c;
  width: 100px;
}
#search-button {
  color: #0b5ed7;
  width: 100px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 600;
  color: rgb(50, 46, 46);
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: 600;
}
.weather-temperature .active {
  color: #322e2e;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
